nav.navbar{
	background: #000;
	margin-bottom: 0px;
	border:0;
}
#navbar li >a, .navbar-default a.navbar-brand{
	color: #f5f5f5;
}

.main-background{
	background: url('images/531000590.jpg') no-repeat;
	background-size: cover;
	background-position: 50% 70%; 
}

#about, #portfolio, #experience{
	margin: 50px auto;
	padding: 20px 40px 50px;
	background: rgba(0,0,0, .75); 
	color: white;
}
h2{
	border-bottom: 1px solid #fff;
	letter-spacing: 1px;
	padding-bottom: 5px;
  text-align: center;
}
p{
	text-align: center;
}
p, li a, li{
	font-size: 20px;
	color: #000;
}
.ball-button{
	border:0;
	background: #000;
	border-radius: 15px;
	padding: 5px 30px;
	color: #fff;
}
#magic-8-ball.before-ask:before{
	width: 230px;
    height: 230px;
    background: white;
    content: "8";
    font-size: 165px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    text-align: center;
    margin-left: -110px;
}
#magic-8-ball{
	background: #000;
	width: 410px;
	height: 410px;
	margin: auto;
	border-radius: 50%;
	padding: 45px 0px;
}

#inner-ball{
	width: 175px;
	height: 175px;
	background: #4a4a4a;
	margin: auto;
	border-radius: 50%;
	padding: 5px;
}
#ball-answer:before{
	content:"";
	position: absolute;
	border-top: 100px solid blue;
	border-left: 58px solid transparent;
	border-right: 58px solid transparent;
	margin-left: -58px;
}
#ball-answer{
	width: 165px;
	height: 165px;
	background: #180048;
	border-radius: 50%;
	border: 1px solid #fff;
	text-transform: uppercase;
	padding: 45px 15px 0;
	text-align: center;
}
#answer{
	font-size: 12px;
	color: #fff;
	position: relative;
	width: 82px;
	padding: 5px 0;
	margin: auto;
}
#footer{
	background: #000;
	text-align: center;
	padding: 20px;
  color: #fff;
}
#footer a{
	padding: 0 15px;
}
#footer button{
	background: white;
	margin-bottom: 20px;
}
#welcome {
  text-align: center;
  font-weight: bold;
}

#face {
  height: 500px;
}

img {
    display: block;
    margin: 0 auto;
}